<%- include('includes/header') -%>
    <body>
        <form action="/post-product" method="POST">
            Title : <input type="text" name="title"/>
            Price : <input type="text" name="price"/>
            <button>Add</button>
        </form>
    </body>
</html>