<%- include('includes/header') %>
    <body>
        <div>
            <h1>Our Product List :</h1>
            <ul>
                <%  for(let product of products) { %>
                    <h2><%= product.title %></h2>
                <%  } %>
            </ul>
        </div>
    </body>
</html>